<template>
  <div>
    <h2>{{message}}</h2>
    <div class="components-vuex-wrap">
      {{$store.state.counter}}<br>
      {{$store.getters.getLess20}}<br>
      {{$store.getters.getLessAge(30)}}<br>
      {{$store.getters.getStuCount(30)}}<br>
      {{$store.state.info}}<br>
      {{$store.state.a}}<br>
      {{$store.state.a.play1}}<br>
    </div>
  </div>
</template>

<script>
  export default {
    name: '',
    data() {
      return {
        message: '组件中的data'
      }
    }
  }
</script>

<style lang="css" scoped>
.components-vuex-wrap {
  background-color:deepskyblue;
  /* height: 200px; */
  /* text-align: center; */
  font-size: 40px;
  /* line-height: 200px; */
}
</style>