<template>
  <div id="app">
    <h1>Vuex练习</h1>

    <h2>{{message}}</h2>
    <div class="app-vuex-wrap">
      {{$store.state.counter}}<br>
      {{$store.getters.getLess20}}<br>
      {{$store.getters.getLessAge(30)}}<br>
      {{$store.getters.getStuCount(20)}}<br>
      {{$store.state.info}}<br>
      {{$store.state.a}}<br>
      {{$store.state.a.play1}}<br>
      {{$store.getters.playerLess30}}<br>
    </div>
------------------------
    <hello-vue></hello-vue>
------------------------
    <h2>操作区域</h2>
    <button @click="add">+</button>
    <button @click="sub">-</button>
    <button @click="addCount(5)">+5</button>
    <button @click="subCount(10)">-10</button>
    <button @click="addStu">add atudent</button>
    <button @click="editInfo">edit Info</button>
    <button @click="asyncEditInfo">Async Edit Info</button>
    <button @click="MEditPlay1Name">Edit Play1 Name</button>
    <button @click="MaEditPlay1Name">Ma Edit Play1 Name</button>
  </div>
</template>

<script>
import HelloVue from '@/components/HelloVuex'
export default {
  name: 'App',
  data: function() {
    return  {
      counter: 0,
      message: 'app中的data'
    }
  },
  components: {
    "hello-vue": HelloVue
  },
  methods: {
    add() {
      this.$store.commit('incr')
    },
    sub() {
      this.$store.commit('decr')
    },
    addCount(count) {
      this.$store.commit('incrCount', {addtionCount: count})
    },
    subCount(count) {
      this.$store.commit('decrCount', {addtionCount: count})
    },
    addStu() {
      const stu = [
        {name: 'curry', age: 13},
        {name: 'lbj', age: 23},
        {name: 'kate', age: 28},
      ];
      let random = Math.floor(Math.random()*3);
      console.log(stu[random]);
      this.$store.commit('addStudent', {'stu': stu[random]});
    },
    editInfo() {
      var info = {
        nickname: 'bily'
      }
      this.$store.commit('editInfoData', info);
      //this.$store.commit({type: 'editInfoData', info});
    },
    asyncEditInfo() {
      var info = {
        nickname: 'maclxf'
      }

      this.$store.dispatch('aEditInfo', info)
    },
    MEditPlay1Name() {
      this.$store.commit('editPlay1Name', {name: 'kids'});
    },
    MaEditPlay1Name() {
      this.$store.dispatch('MaEditPlay1', {name: 'aaa'});
    }
  }
}
</script>

<style>
.app-vuex-wrap {
  background-color: coral;
  /* height: 200px; */
  /* text-align: center; */
  font-size: 40px;
  /* line-height: 200px; */
}
</style>
